<!--Modal qui apparaît si le bouton "basculer en mode edition" est cliqué-->
<div class="container-fluid">
	<div class="modal-header">
		<h4 class="modal-title">Visualisation  d'absence </h4>
	</div>

	<div class="modal-body">
		Voici votre demande :
		<br />
		<br />

		<div [hidden]="edition" class="row ">
			<p class="col-6 card-text">Date de début :</p>
			<p class="col-6 card-text">{{demande.dateDebut | date: 'dd/MM/yyyy' | async}}</p>

			<p class="col-6 card-text">Date de fin :</p>
			<p class="col-6 card-text">{{demande.dateFin | date: 'dd/MM/yyyy' | async}}</p>

			<p class="col-6 card-text">Type d'absence :</p>
			<p class="col-6 card-text">{{demande.type | async}}</p>

			<p class="col-6 card-text">Motif : </p>
			<p class="col-6 card-text">{{demande.motif | async}}</p>

			<p class="col-6 card-text">Statut :</p>
			<p class="col-6 card-text">{{demande.status | async}}</p>
		</div>

		<!--Body qui change lorsqu'on clique sur le bouton modifier-->
		<div class="center">
			<button class="btn btn-danger" (click)="quitterModifModal();">Quitter</button>
		</div>
	</div>

</div>
