<div class="container-fluid">
	<div class="">
		<div class="modal-header">
				<h4 class="modal-title">Supression de la demande</h4>
			</div>
	<div class="modal-body">
		Voulez-vous vraiment supprimer votre demande ?
		<br />
		<br />
		<div class="row ">
			<p class="col-6 card-text">Date de début :</p>
			<p class="col-6 card-text" >{{demandeModal.dateDebut | date: 'dd/MM/yyyy'}}</p>

			<p class="col-6 card-text">Date de fin :</p>
			<p class="col-6 card-text">{{demandeModal.dateFin | date: 'dd/MM/yyyy'}}</p>

			<p class="col-6 card-text">Type d'absence :</p>
			<p class="col-6 card-text">{{demandeModal.type}}</p>

			<p class="col-6 card-text">Motif : </p>
			<p class="col-6 card-text">{{demandeModal.motif}}</p>

			<p class="col-6 card-text">Statut :</p>
			<p class="col-6 card-text">{{demandeModal.status}}</p>
		</div>
		<div class="row justify-content-center">
			<div class="center">
				<button class="btn btn-danger" (click)="quitterModifModal();">Annuler</button>
				<button class="btn btn-success"(click)="submit(demandeModal)">Valider</button>
			</div>
		</div>
	</div>
	</div>
	</div>
