<div class="container-fluid">
	<div class="">
		<div class="modal-header">
				<h4 class="modal-title">Supression de la demande</h4>
			</div>
	<div class="modal-body">
		Voulez-vous vraiment supprimer votre demande ?
		<br />
		<br />
		<div [hidden]="edition" class="row ">
			<p class="col-6 card-text">Date de début :</p>
			<p class="col-6 card-text" >{{demande.dateDebut | date: 'dd/MM/yyyy' | async}}</p>

			<p class="col-6 card-text">Date de fin :</p>
			<p class="col-6 card-text">{{demande.dateFin | date: 'dd/MM/yyyy' | async}}</p>

			<p class="col-6 card-text">Type d'absence :</p>
			<p class="col-6 card-text">{{demande.type | async}}</p>

			<p class="col-6 card-text">Motif : </p>
			<p class="col-6 card-text">{{demande.motif | async}}</p>

			<p class="col-6 card-text">Statut :</p>
			<p class="col-6 card-text">{{demande.status | async}}</p>
		</div>
		<div class="row justify-content-center">
			<div class="center">
				<button class="btn btn-danger" (click)="quitterModifModal();">Annuler</button>
				<button class="btn btn-success"(click)="quitterModifModal();submit()">Valider</button>
			</div>
		</div>
	</div>
	</div>
	</div>
