
<div class="container-fluid mb-4 mt-5" *ngIf="connecte">
	<br>
	<br>
	<br>
	<nav class="btn-group btn-group-toggle d-none d-sm-none d-md-block">
		<button class="btn btn-dark" routerLink="/accueil">Accueil</button>
		<button class="btn btn-dark" routerLink="/gestion-absences">Gestion des Absences</button>
		<button class="btn btn-dark" routerLink="/planning-absences">Planning des absences</button>
		<button *ngIf="verifRoleManager()" class="btn btn-dark" routerLink="/validation-demandes-manager">Validation des
			demandes</button>
		<button *ngIf="verifRoleManager()" class="btn btn-dark" routerLink="/planning-absences-manager">Vues
			synthétiques</button>
		<button class="btn btn-dark" routerLink="/jour-feries">Jour Fériés</button>
	</nav>

	<br>
	<div class="d-none d-sm-block d-md-none">
		<button class="btn btn-dark" mat-button [matMenuTriggerFor]="menu">Menu</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item routerLink="/accueil">Accueil</button>
			<button mat-menu-item routerLink="/gestion-absences">Gestion des Absences</button>
			<button mat-menu-item routerLink="/planning-absences">Planning des absences</button>
			<button *ngIf="verifRoleManager()" mat-menu-item routerLink="/validation-demandes-manager">Validation des
				demandes</button>
			<button *ngIf="verifRoleManager()" mat-menu-item routerLink="/planning-absences-manager">Vues
				synthétiques</button>
			<button mat-menu-item routerLink="/jour-feries">Jour Fériés</button>
		</mat-menu>
	</div>

</div>
