<div class="container-fluid">
	<div class="jumbotron">
		<div class="text-center">
			<img src="https://i.imgur.com/hknji4g.png" />
		</div>
			<h3 class=" text-center">GDA - GESTION DES ABSENCES</h3>
	</div>
	<br>
	<div *ngIf="connecte" class="container-fluid">
		<div class="float-right">
			<p><strong>Bonjour, {{ user.prenom }} {{ user.nom }}</strong></p>
			<p (click)="deconnexion()" class="text-capitalize link-deco">Se déconnecter</p>
			<br>
		</div>
	</div>
	<div class="container-fluid text-center">
		<app-menu [connecte]="connecte"></app-menu>
	</div>
	<br>
</div>
<div class="container-fluid">
	<router-outlet></router-outlet>
</div>
