
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-1 text-center">GESTION DES ABSENCES</h1>
    </div>
    <br>
    <div *ngIf="user" class="container-fluid">
		<div class="float-right">
			<p><strong>Bonjour, {{ user.prenom }} {{ user.nom }}</strong></p>
			<button type="button" (click)="deconnexion()" class="btn btn-danger">Déconnexion</button>
		</div>
	</div>
	<div class="container-fluid">
		<app-menu></app-menu>
	</div>
    <br>

    <router-outlet></router-outlet>
</div>
