<div class="container-fluid">
    <h2 class=" text-center">Demande d'absence</h2>
    <hr>
    <div class="container">
        <form class="form-group" #ajoutForm="ngForm" (ngSubmit)="creerDemande()">
            <div class="form-group">
                <label for="debut">Date de début</label>
                <div class="input-group">
                    <input class="form-control " ngbDatepicker placeholder="jj/mm/aaaa" name="debut" id="debut" required #debut="ngModel" [(ngModel)]="debutCreer" #d="ngbDatepicker" [dayTemplate]="customDay" [markDisabled]="isDisabled" [minDate]="{year: 2010, month: 1, day: 1}"
                        [maxDate]="{year: 2028, month: 12, day: 31}">
                    <div class="alert alert-danger" *ngIf="(debut.dirty || debut.touched) && debut.errors">
                        Ce champ est obligatoire
                    </div>

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>

                <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
                    <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused" [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
						{{ date.day }}
					</span>
                </ng-template>
            </div>

            <div class="form-group">
                <label for="fin">Date de fin</label>
                <div class="input-group">
                    <input class="form-control " ngbDatepicker placeholder="jj/mm/aaaa" name="fin" id="fin" required #fin="ngModel" [(ngModel)]="finCreer" #d2="ngbDatepicker" [dayTemplate]="customDay2" [markDisabled]="isDisabled" [minDate]="{year: 2010, month: 1, day: 1}"
                        [maxDate]="{year: 2028, month: 12, day: 31}">
                    <div class="alert alert-danger" *ngIf="(debut.dirty || debut.touched) && debut.errors">
                        Ce champ est obligatoire
                    </div>

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                    </div>
                </div>

                <ng-template #customDay2 let-date2 let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
                    <span class="custom-day" [class.weekend]="isWeekend(date2)" [class.focused]="focused" [class.bg-primary]="selected" [class.hidden]="date2.month !== currentMonth" [class.text-muted]="disabled">
						{{ date2.day }}
					</span>
                </ng-template>
            </div>

            <div class="form-group">
                <label for="type">Type de congé</label>
                <select required name="type" id="type" #type="ngModel" [(ngModel)]="demande.type" class="form-control">
					<option value="CONGES_PAYES">Congés payés</option>
					<option value="RTT">RTT</option>
					<option value="CONGES_SANS_SOLDE">Congés sans solde</option>
				</select>
                <div class="alert alert-danger" *ngIf="(type.dirty || type.touched) && type.errors">
                    Ce champ est obligatoire
                </div>
            </div>
            <div class="form-group">
                <label for="motif">Motif</label>
                <textarea class="form-control" name="motif" id="motif" rows="5" #motif="ngModel" [(ngModel)]="demande.motif"></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-danger" routerLink="/gestion-absences">Annuler</button>
                <button [disabled]="ajoutForm.invalid" class="btn btn-success" type="submit">Valider</button>
            </div>
            <div class="alert alert-danger text-center" *ngIf="messageErreur">
                <p><strong>{{ messageErreur }}</strong></p>
            </div>
            <div class="alert alert-success text-center" *ngIf="messageSucces">
                <p><strong>{{ messageSucces }}</strong></p>
            </div>
            <br>
        </form>
    </div>
</div>