<ng-container *ngIf="verifRoleManager(); then manager; else reconnexion;">
</ng-container>

<ng-template #manager>Vous êtes manager
	<div class="table-responsive">
		<table class="col-12 table table-striped">
			<thead>
				<tr>
					<th direction="asc" scope="col" sortable="nom" (sort)="onSort($event)">Nom</th>
					<th *ngFor="let jour of listeJoursMois" scope="col">{{jour}}</th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let absences of listeAbsences">
					<td scope="row">{{ absence.nomCollegue }}</td>
					<td *ngFor="let jour of listeJoursMois" scope="row">
						<!--Affichage du congé-->
						<div *ngIf="true">C</div>
						<!--Affichage du RTT-->
						<div *ngIf="true">R</div>
						<!--Affichage du congé sans solde-->
						<div *ngIf="true">S</div>
						<!--Affichage de la mission-->
						<div *ngIf="true">M</div>
						<!--Affichage du jour ferié-->
						<div *ngIf="true">F</div>
					</td>




				</tr>
			</tbody>
		</table>
	</div>
</ng-template>

<ng-template #reconnexion>
	<div>
		Merci de vous connecter en tant que Manager.
	</div>
</ng-template>
