/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* Allez un peu de charte graphique hein ;) */
// body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;}
// body, html {
//   height: 100%;
//   color: #275D8C;
//   line-height: 1.8;
//   border-radius: 10px;
// }

// div {
// 	border-radius: 10px;
// }

// .navbar {
// 	border-radius: 10px;
// }

// .primary-color {
//     background-color: #023059 !important;
// }

// .btn-primary {
//     background-color: #023059 !important;
// 	color: #F2E9D8 !important;
// 	border-radius: 10px;
// }

// /* Create a Parallax Effect */
// .bgimg-1, .bgimg-2, .bgimg-3 {
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// /* First image (Logo. Full height) */
// .bgimg-1 {
//   background-image: url('https://i.pinimg.com/originals/0e/0f/9a/0e0f9a113ab39082226e71fbbcab3a31.jpg');
//   background-position: top;
//   max-height: 40%;
//   min-height: 40%;
// }

// .w3-wide {letter-spacing: 10px;}
// .w3-hover-opacity {cursor: pointer;}

// button {
//   border-radius: 4px;
//   background-color: #5ca1e1;
//   border: none;
//   color: #fff;
//   text-align: center;
//   font-size: 20px;
//   padding: 16px;
//   width: 220px;
//   transition: all 0.5s;
//   cursor: pointer;
//   margin: 36px;
//   box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
// }

// button{
//   cursor: pointer;
//   display: inline-block;
//   position: relative;
//   transition: 0.5s;
// }

// button:after {
//   content: '>';
//     position: absolute;
//   opacity: 0;
//   top: 8px;
//   right: -20px;
//   transition: 0.5s;
// }

// button:hover{
//   padding-right: 24px;
//   padding-left:8px;
// }

// button:hover:after {
//   opacity: 1;
//   right: 10px;
// }




