<div class="container-fluid">
	<div class="modal-header">
		<h4 class="modal-title">Modification d'absence </h4>
	</div>

	<div class="modal-body">
		Vous souhaitez modifier votre absence avec les paramètres suivants :
		<br />
		<br />

		<div [hidden]="edition" class="row ">
			<p class="col-6 card-text">Date de début :</p>
			<p class="col-6 card-text">{{demandeModal.dateDebut | date : 'dd/MM/yyyy'}}</p>

			<p class="col-6 card-text">Date de fin :</p>
			<p class="col-6 card-text">{{demandeModal.dateFin | date : 'dd/MM/yyyy'}}</p>

			<p class="col-6 card-text">Type d'absence :</p>
			<p class="col-6 card-text">{{demandeModal.type}}</p>

			<p class="col-6 card-text">Motif : </p>
			<p class="col-6 card-text">{{demandeModal.motif}}</p>

			<p class="col-6 card-text">Statut :</p>
			<p class="col-6 card-text">{{demandeModal.status}}</p>
		</div>

		<!--Body qui change lorsqu'on clique sur le bouton modifier-->
		<div [hidden]="!edition">
			<form class="col-12 needs-validation" novalidate (ngSubmit)="submit()" #formCtrl="ngForm">
				<div class="form-group">
					<label for="debut">Date de début</label>
					<div class="input-group">
						<input class="form-control " ngbDatepicker placeholder="jj/mm/aaaa" name="debut" id="debut"
							required #debut="ngModel" [(ngModel)]="dateDebutModif" #d="ngbDatepicker"
							[dayTemplate]="customDay" [markDisabled]="isDisabled"
							[minDate]="{year: 2010, month: 1, day: 1}" [maxDate]="{year: 2028, month: 12, day: 31}">
						<div class="alert alert-danger" *ngIf="(debut.dirty || debut.touched) && debut.errors">
							Ce champ est obligatoire
						</div>

						<div class="input-group-append col-1 calendrier-2">
							<button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
								type="button"></button>
						</div>
					</div>

					<ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected"
						let-disabled="disabled" let-focused="focused">
						<span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
							[class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth"
							[class.text-muted]="disabled">
							{{ date.day }}
						</span>
					</ng-template>
				</div>


				<div class="form-group">
					<label for="fin">Date de fin</label>
					<div class="input-group">
						<input class="form-control " ngbDatepicker placeholder="jj/mm/aaaa" name="fin" id="fin" required
							#fin="ngModel" [(ngModel)]="dateFinModif" #d2="ngbDatepicker" [dayTemplate]="customDay2"
							[markDisabled]="isDisabled" [minDate]="{year: 2010, month: 1, day: 1}"
							[maxDate]="{year: 2028, month: 12, day: 31}">
						<div class="alert alert-danger" *ngIf="(debut.dirty || debut.touched) && debut.errors">
							Ce champ est obligatoire
						</div>

						<div class="input-group-append col-1 calendrier-2">
							<button class="btn btn-outline-secondary calendar" (click)="d2.toggle()"
								type="button"></button>
						</div>
					</div>

					<ng-template #customDay2 let-date2 let-currentMonth="currentMonth" let-selected="selected"
						let-disabled="disabled" let-focused="focused">
						<span class="custom-day" [class.weekend]="isWeekend(date2)" [class.focused]="focused"
							[class.bg-primary]="selected" [class.hidden]="date2.month !== currentMonth"
							[class.text-muted]="disabled">
							{{ date2.day }}
						</span>
					</ng-template>
				</div>

				<div class="form-group">
					<label for="type">Type de congé</label>
					<select required name="type" id="type" #type="ngModel" [(ngModel)]="demandeModal.type"
						class="form-control">
						<option value="CONGES_PAYES">Congés payés</option>
						<option value="RTT">RTT</option>
						<option value="CONGES_SANS_SOLDE">Congés sans solde</option>
					</select>
					<div class="alert alert-danger" *ngIf="(type.dirty || type.touched) && type.errors">
						Ce champ est obligatoire
					</div>
				</div>
				<div class="form-group">
					<label for="motif">Motif</label>
					<textarea class="form-control" name="motif" id="motif" rows="5" #motif="ngModel"
						[(ngModel)]="demandeModal.motif"></textarea>
				</div>
			</form>
		</div>

		<div class="modal-footer">
			<button class="btn btn-dark" [hidden]="edition" (click)="afficherModification()">Basculer en mode
				édition</button>

			<!--Ajouter un bouton Valider désactivé tant que le formulaire n'est pas valide-->
			<!--TODO-->

			<button [hidden]="!edition" type="button" class="btn btn-success" [disabled]="formCtrl.invalid"
				(click)="submit()">Valider</button>

			<div class="alert alert-danger text-center" *ngIf="messageErreur">
				<p><strong>{{ messageErreur | json }}</strong></p>
			</div>
			<div class="alert alert-success text-center" *ngIf="messageSucces">
				<p><strong>{{ messageSucces | json }}</strong></p>
			</div>

		</div>
	</div>
</div>
