<br />
<h1 class="text-center">Gestion des absences</h1>


<!--Tableau Angular Ng bootstrap-->
<table class="table table-striped">
	<thead>
		<tr>
			<th direction="asc" scope="col" sortable="dateDebut" (sort)="onSort($event)">Date de début</th>
			<th scope="col" sortable="dateFin" (sort)="onSort($event)">Date de fin</th>
			<th scope="col" sortable="type" (sort)="onSort($event)">Type</th>
			<th scope="col" sortable="status" (sort)="onSort($event)">Statut</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let demande of listePaginees">
			<th scope="row">{{ demande.dateDebut | date: 'dd/MM/yyyy' }}</th>
			<td>
				{{ demande.dateFin | date: 'dd/MM/yyyy' }}
			</td>
			<td>{{ demande.type }}</td>
			<td>{{ demande.status }}</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
		<ngb-pagination [collectionSize]="longueurTableau" [(page)]="page" [pageSize]="pageSize">
		</ngb-pagination>

		<select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
		  <option [ngValue]="2">2 demandes par page</option>
		  <option [ngValue]="5">5 demandes par page</option>
		  <option [ngValue]="10">610 demandes par page</option>
		</select>
	  </div>


<div class="float-right">Demander une absence <a routerLink="/demande-absence"><button type="button"
			class="btn btn-mdb-color">+</button></a></div>
<div>Solde des compteurs :</div>
<ul>
	<li>Congés Payés : {{collegueConnecte.soldeCongesPayes}} </li>
	<li>RTT : {{collegueConnecte.soldeRTT}}</li>
</ul>
