<div class="container-fluid">

	<h1 class="text-center col-12">Gestion des absences</h1>
	<!--Tableau Angular Ng bootstrap-->
	<table class="col-12 table table-striped">
		<thead>
			<tr>
				<th direction="asc" scope="col" sortable="dateDebut" (sort)="onSort($event)">Date de début</th>
				<th scope="col" sortable="dateFin" (sort)="onSort($event)">Date de fin</th>
				<th scope="col" sortable="type" (sort)="onSort($event)">Type</th>
				<th scope="col" sortable="status" (sort)="onSort($event)">Statut</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let demande of listePaginees">
				<th scope="row">{{ demande.dateDebut | date: 'dd/MM/yyyy' }}</th>
				<td>
					{{ demande.dateFin | date: 'dd/MM/yyyy' }}
				</td>
				<td> {{demande.type }} </td>
				<td>{{ demande.status }}</td>
				<td class="col-8 row"
					*ngIf="demande.type.toString() == 'RTT' || demande.type.toString() == 'CONGES_PAYES' || demande.type.toString() == 'CONGES_SANS_SOLDE'">
					<div class="col-4">
						<a (click)="chargerVisuModal(demande);"><i class="fa fa-eye" aria-hidden="true"></i></a>
					</div>

					<div class="col-4"
						*ngIf="demande.status.toString() == 'INITIALE' || demande.status.toString() == 'REJETEE'">
						<a (click)="chargerModifModal(demande);"> <i class="fa fa-pencil-square-o" aria-hidden="true">
							</i></a>
					</div>

					<div *ngIf="demande.status.toString() == 'VALIDEE' || demande.status.toString() == 'EN_ATTENTE_VALIDATION'"
						class="col-4">
						&nbsp;
					</div>

					<div class="col-4">
						<a (click)="chargerSuppresionModal(demande);"> <i class="fa fa-trash"> </i></a>
					</div>
				</td>

				<td class="col-8 row" *ngIf="demande.type.toString() == 'MISSION'">
					<div class="col-12 text-center">
						<a href="https://2019-d05-code.github.io/gestion-des-missions-front/"> <i
								class="fas fa-external-link-alt" aria-hidden="true">
							</i></a>
					</div>

				</td>
			</tr>
		</tbody>
	</table>

	<div class="col-12 d-flex justify-content-between p-2">
		<ngb-pagination [collectionSize]="longueurTableau" [(page)]="page" [pageSize]="pageSize">
		</ngb-pagination>

		<select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
			<option [ngValue]="2">2 demandes par page</option>
			<option [ngValue]="5">5 demandes par page</option>
			<option [ngValue]="10">10 demandes par page</option>
		</select>
	</div>

	<div class="col-12">
		<div class="offset-8">Demander une absence <a routerLink="/demande-absence"><button type="button"
					class="btn btn-mdb-color">+</button></a></div>
	</div>


	<h3 class="row">Solde des compteurs :</h3>

	<div class="col-12 ">
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<div class="row">
					<div class="col-3">
						<i class="fas fa-mug-hot"></i>
					</div>
					<p class="col-9 mt-3">RTT : {{collegueConnecte.soldeRTT}} </p>
				</div>
			</div>
			<div class="col-lg-4  col-md-12 ">
				<div class="row">
					<div class="col-3">
						<i class="fas fa-cookie-bite"></i>
					</div>
					<p class="col-9 mt-3">Congés payés : {{collegueConnecte.soldeCongesPayes}} </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="row">
					<div class="col-3">
						<i class="fas fa-plane"></i>
					</div>
					<p class="col-9 mt-3">Congés sans solde : {{collegueConnecte.soldeCongesSansSolde}} </p>

				</div>
			</div>
		</div>
	</div>

</div>
